
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    background-color: #ffffff;
}

main {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff6e4;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    
}

h2, h3 {    
    color: #2c3e50;
    margin-top: 0;
}

footer {
    padding: 20px;
    color: #000000;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
}

