
.sidebar {
    width: 300px;
    background-color: #fff6e4;
    padding: 20px;
    border-right: 1px solid #c7c5c5;
}

.sidebar h2 {
    color: #2c3e50;
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
}

.alumno-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}